<div id="<%= dom_id message %>" style="background-color: silver; padding: 6px; border-radius: 6px; margin: 6px;">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>
  
  <%= button_to upvote_label(message, current_user), vote_message_path(message, type: :upvote), method: :patch, style: upvote_label_styles(message, current_user) %>
  score: <%= message.cached_weighted_like_score %>
  <br>
  total votes: <%= message.cached_weighted_like_total %>
  <%= button_to downvote_label(message, current_user), vote_message_path(message, type: :downvote), method: :patch, style: downvote_label_styles(message, current_user) %>

  <%= button_to bookmark_label(message, current_user), bookmark_message_path(message), method: :patch, style: bookmark_label_styles(message, current_user) %>

</div>
